

body {
    margin: 0;
    max-width: 1000px;

}

/* Header */

.header {
    height: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    text-align: center;
    padding: 10px;
    border: 2px solid rgb(187, 166, 166);
    background-color: antiquewhite;
    box-shadow: 0 15px 10px rgba(164, 147, 147, 0.2);
    border-radius: 10px;
}

/* Input */

.search-box {
    display: flex;
    max-width: 1000px;
    margin: 10px 0;
    justify-content: space-evenly;
}

input {
    width: 150px;
    height: 19px;
}

.add-input {
    margin-left: 10px;
}

.age {
    width: 55px;
}

.add-box {
    display: flex;
    width: 70%;
    margin: 10px auto;
    justify-content: space-between;
}

/* Radio */

.radio {
    position: relative;
    margin-bottom: 10px;

}

.radio-input {
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 1px;
}

.radio-input:hover {
    cursor: pointer;
}

.radio-label {
    padding-left: 30px;
    font-size: 18px;
    color: #444;
    cursor: pointer;
}


/* Button */

.btn {
    width: 115px;
    height: 25px;
    background-color: burlywood;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 15px;
    margin-left: 3px;
}

.btn-add {
    margin-left: -10px;
}

.btn-man:hover {
    color: rgb(9, 255, 0);
    background-color: blue;
    cursor: pointer;
    box-shadow: 0 0 25px blue;
}

.btn-woman:hover {
    color: blueviolet;
    background-color: pink;
    cursor: pointer;
    box-shadow: 0 0 25px pink;
}

.btn-teenager:hover {
    color: coral;
    background-color: greenyellow;
    cursor: pointer;
    box-shadow: 0 0 25px greenyellow;
}


/* Table */

.table {
    width: 100%;
    margin: 15px auto;
    border-collapse: collapse;
}

td, th {
    padding: 5px;
    text-align: center;
    border: 1px solid black;
}

th {
    background-color: blanchedalmond;
}

.td-man {
    color: rgb(9, 255, 0);;
    background-color: blue;
}

.td-woman {
    color: blueviolet;
    background-color: pink;
}

.btn-trash {
    transform: translateX(90px);
    cursor: pointer;
    color: #e5383b;
}